@keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
      max-height: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
      max-height: 200px;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
      max-height: 200px;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
      max-height: 0;
    }
  }
  .fade-in {
    animation: inAnimation 400ms forwards;
  }
  
  .fade-out {
    animation: outAnimation 400ms forwards;
  }

  .fade-in-extras {
    animation: inAnimation 400ms forwards;
  }
  .fade-out-extras {
    animation: outAnimation 400ms forwards;
  }


  @keyframes inAnimationLeft {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-10%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%);
    }
  }

  @keyframes outAnimationRight {
    0% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%);
    }
    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-10%);
    }
  }

  .fade-in-left {
    animation: inAnimationLeft 400ms forwards;
  }
  
  .fade-out-right {
    animation: outAnimationRight 400ms forwards;
  }